#primeiroSegmento {
    position: fixed;
    top: 20px;
    right: 10px;
}

#segundoSegmento {
    position: fixed;
    top: 50px;
    right: 10px;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
}

.book-item {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.book-item img {
    width: 100%;
    height: auto;
}

.book-detail-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.book-detail-container img {
    max-width: 300px;
    height: auto;
}

.book-info {
    max-width: 600px;
}

.book-info h1 {
    margin-top: 0;
}

.action-buttons {
    display: flex;
    gap: 2.5px;
}