<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    <title>{{ book.title }}</title>
</head>
<body>
    <div class="book-detail-container">
        <img src="{{ book.image_url }}" alt="{{ book.title }}">
        <div class="book-info">
            <h1>{{ book.title }}</h1>
            <p><strong>Autor:</strong> {{ book.author }}</p>
            <p><strong>Sinopse:</strong> {{ book.synopsis }}</p>
            <p><strong>Visualizações:</strong> {{ book.popularity }}</p>
            <div id="primeiroSegmento">
                <a href="{{ url_for('index') }}">Voltar</a>
            </div><br>
            <div id="segundoSegmento" class="action-buttons">
                {% if is_admin %}
                    <a href="{{ url_for('update_book', book_id=book.id) }}">Atualizar livro</a><br>
                    <a href="{{ url_for('remove_book', book_id=book.id) }}">Remover livro</a><br>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>